{% extends "base.html" %}
{% block content %}
<h1>WordPress.org last support entries</h1>
<div class="wrapper">

<div>
{% for plug in plugins %}
<div class="lc-plugin-name">{{ plug.name }}</div>
<div class="lc-rss-entries">
	<ul>
	{% for entry in plug.entries %}
	<li class="lc-rss-entry">
		<a href="{{ entry.link }}" target="_blank">{{ entry.title }}</a> 
		{% if 'date' in details or 'all' in details %}
		<span class="lc-date">{{ entry.published }}</span>
		{% endif %}
		{% if 'desc' in details or 'all' in details %}
		<br>{{ entry.description|striptags }}
		{% endif %}
	</li>
	{% endfor %}
	</ul>
	</div>
	</div>
{% endfor %}
</div>
</div>
{% endblock %}

